@use './variaveis' as *;

.camera-box {
  background-color: $corDeFundo;
  backdrop-filter: blur(8px);
  padding: 3rem 2rem;
  border-radius: 25px;
  color: #f8e5c8;
  max-width: 800px;
  margin: 2rem auto;
  border: 3px solid #6e280e;
  box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 20px rgba(139, 69, 19, 0.2);
  text-align: center;
}

.camera-box h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  border-radius: 15px;
  display: inline-block;
}

.preview {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto 2rem;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #80390f;
  box-shadow: 
    0 6px 16px #0000004d,
    inset 0 0 0 3px #80390f;
  background: #2d4a36;
  position: relative;
}

.preview video,
.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.botoes {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-stardew {
  font-size: 12px;
  padding: 12px 30px;
  text-align: center;
  text-transform: none;
  background: #f7c648; 
  color: #4a3000;
  border: 3px solid #6e280e;     
  box-shadow:
    inset 0 -4px 0 #be8a1a,      
    inset 0 4px 0 #fff3a3;
  cursor: pointer;
}

.btn-stardew:hover {
  background: #ffdb6e;
  box-shadow:
    inset 0 -4px 0 #ce941e,
    inset 0 4px 0 #fff7bc;
}

canvas {
  display: none;
}