/* Variáveis CSS para cores e estilos */
:root {
  --primary-color: #0b8611;
  --secondary-color: #4A44C6;
  --accent-color: #FF6584;
  --text-color: #333333;
  --light-bg: rgba(255, 255, 255, 0.85);
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

.menu {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: var(--light-bg);
  border-radius: 20px;
  padding: 0.2rem;
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1000;
  transition: var(--transition);
}

.menu:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  flex: 1 1 100px;
  text-align: center;
  transition: var(--transition);
  border-radius: 16px;
}

.menu li:hover {
  transform: translateY(-5px);
}

.menu a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.menu .container-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
  padding: 0.5rem;
  border-radius: 12px;
}

.menu li:hover .container-action {
  background: rgba(201, 201, 201, 0.1);
}

.container-icon {
  position: relative;
  width: 70px;
  height: 70px;
  margin-bottom: 0.8rem;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: var(--transition);
}

.menu li:hover .menu-icon {

  transform: scale(1.1);
}

.menu img {
  width: 32px;
  height: 32px;
  transition: var(--transition);
}

.action-title {
  font-size: 22px;
  transition: var(--transition);
  font-weight: 500;
}

.menu li:hover figcaption {
  color: var(--primary-color);
  font-weight: 500;
}

.menu a.active li {
  background: rgba(108, 99, 255, 0.1);
}

.menu a.active {
  background: var(--primary-color);
}

.menu a.active img {
  filter: brightness(0) invert(1);
}

.menu a.active figcaption {
  color: var(--primary-color);
  font-weight: 600;
}

