@use './variaveis' as *;

.preview {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto 2rem;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid $Borda;
  position: relative;
}

.preview video,
.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

canvas {
  display: none;
}