@use './variaveis' as *;


.grid {
  display: flex;
  gap: 15px
}

.figurinha {
  background: $corDeFundo;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 160px;

  border: 3px solid $Borda;
  box-shadow: 0 3px 0 #5b3a1a, 
              0 6px 15px rgba(0,0,0,0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 0 #5b3a1a,
                0 10px 20px rgba(0,0,0,0.5);
  }

  img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.4rem;
    border: 2px solid #5b3a1a;
  }

  h3 {
    font-size: 1.1rem;
    color: #4a2d0c;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.95rem;
    margin: 0;
    color: #6b4a2e;
  }

  small {
    display: block;
    margin-top: 6px;
    font-size: 0.75rem;
    color: #4a2d0c;
    opacity: 0.8;
  }
}