@use './variaveis' as *;

.conteiner {
  background-color: rgba(34, 51, 59, 0.85); 
  backdrop-filter: blur(8px);
  padding: 3rem 2rem;
  border-radius: 25px;
  color: #f8e5c8;
  max-width: 1200px;
  margin: 2rem auto 7rem auto;
  overflow-y: auto;
  max-height: 80vh;
  border: 3px solid #000000;
  scrollbar-width: thin;
  
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8b4513; 
    border-radius: 10px;
    border: 2px solid #2d4a36;
  }

  &::-webkit-scrollbar-track {
    background: #2d4a36; 
    border-radius: 10px;
  }

  .header-page {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
  }
}

.conteiner h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #ffffff; 
  letter-spacing: 2px;
  border-radius: 15px;
  display: inline-block;
}

.missoes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.missao-card {
  background: $corDeFundo;
  color: #000000; 
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  padding: 1.8rem;
  min-height: 250px;
  font-size: 16px;
  position: relative;
  border: 3px solid $Borda; 

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 15px;
    pointer-events: none;
  }
}

.missao-card h3 {
  font-size: 1.3rem;
  color: $Borda; 
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
}

.missao-card p {
  font-size: 18px;
  font-weight: 550;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: $CorParagrafo; 
}

.missao-card::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 45px;
  height: 45px;
  background-image: url('../assets/heart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 50%;
  border: 3px solid #8b4513;
  background-color: #8b4513;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 0.3s ease;
}
