@use './variaveis' as *;

dialog.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  max-width: 90%;
  padding: 2rem;
  text-align: center;
  background: $corDeFundo; 
  box-shadow:
    inset 0 -6px 0 #be8a1a,         
    inset 0 6px 0 #fff3a3,          
    0 6px 25px rgba(0,0,0,.6);

  image-rendering: pixelated;
  z-index: 9999;

  .titulo {
    font-size: 14px;
    color: #4a3000;
    margin-bottom: 1.6rem;
    text-shadow: 2px 2px #ffe29a;
  }

  p {
    font-size: 12px;
    color: #3a2500;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  .caixaTexto {
    width: 85%;
    padding: 8px;
    font-size: 12px;
    border: 2px solid $Borda;
    border-radius: 10px;
    background: #fff3b8;
    box-shadow:
      inset 0 -4px 0 #c08e26,
      inset 0 4px 0 #fff6d9;
    color: #3a2500;
  }

  .btn-stardew {
    padding: 0.7rem 1.4rem;
  }

  .resultado {
    margin-top: 1.6rem;
    font-size: 12px;
    font-weight: bold;
    color: #3a2500;

    animation: fadeIn .3s ease;
  }

  img {
    margin-top: 1rem;
    width: 80px;
    image-rendering: pixelated; 
  }
}

.modal-botoes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

  
