@use './variaveis';
@use './inicial';
@use './DSGo';
@use './menu';
@use './missaoCard';
@use './modal';
@use './camera';
@use './inventario';
@use './galeria';
@use './imagegallery';
@use './geolocalizacao'